<p>Welcome to Where's Waldo! The classic game of scouring an image to find the characters. It's pretty simple: click where you think the characters below are. If you're right, the box will turn green. If not, it will turn red.</p>

<p>Once you find all five characters your score will be recorded and you'll be sent to the <a href='/victory'>Leaderboard Page</a>! There you can enter your username and you will be added to the hall of fame :)</p>

<p>Score is based solely off of time, so the faster you find all five characters the lower your score will be! The characters are the first five in the directions below: </p>
<ul>
	<li>Waldo</li>
	<li>Wenda</li>
	<li>Odlaw</li>
	<li>Wizard Whitebeard</li>
	<li>Woof</li>
</ul>

<p><b>NOTE: You might only be able to see woof's tails!</b> This makes him kind of difficult to find but I promise, he's there.</p>

<p>So click 'Restart Game' and get going!</p>